body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom Bootstrap theme */
.arc-wizard-question {
  font-size: x-large;
}

.arc-bg-primary {
  background-color: rgba(63, 81, 181, 1) !important;
}

.arc-button-navigation {
  background-color: rgba(63, 81, 181, 1) !important;
  border-width: 0ch !important;
  outline: 0ch !important;
}


.arc-button-primary {
  background-color: white !important;
  border-color: rgba(63, 81, 181, 1);
  color: rgba(63, 81, 181, 1);
}

.arc-button-primary:hover {
  background-color: rgba(63, 81, 181, 1) !important;
  border-color: rgba(63, 81, 181, 1);
  color: white;
}

.arc-button-decision {
  background-color: white !important;
  border-color: grey;
  color: darkslategray;
}

.arc-button-decision:hover {
  background-color: lightgray !important;
  border-color: grey;
  color: darkslategray;
}

.arc-button-decision:active {
  background-color: black !important;
  border-color: grey;
  color: darkslategray;
}